[submodule "Submodules/VIMObjectMapper"]
	path = Submodules/VIMObjectMapper
	url = git@github.com:vimeo/VIMObjectMapper.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
